html {
    background-color: rgba(106, 106, 238, 0.747);
}

body {
    margin: auto;
    font-size: 16px;
    font-family: 'Lora', serif;
}

header,
footer {
    text-align: center;
    margin: 1rem;
    position: relative;
    border-top: 2px solid #222222;
    border-bottom: 2px solid #222222;
    padding: 1em;
}

div.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: rgba(10, 10, 197, 0.597);
    text-shadow: 0 0 15px #777;
}


section {
    padding: 1rem;
    min-width: 340px;
    margin: 0.25rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgb(233, 205, 169)
}

section p {
    margin: 0.5em;
}

section img {
    border-radius: 10px;
}
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #333;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

.open a {
    display: block;
}

.active::before {
    content: "📍";
    /* just a wayfinding symbol for the user */
}