body {
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

.myTable {
    margin: 10px auto;
    border-collapse: collapse;
    border: thin solid hsla(0, 0%, 20%, .8);
    width: 100%;
}

table {
    margin: 0 auto;
}


th,
td {
    padding: 7px 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: #4CAF50;
}

th,
td {
    color: black;
    padding: 7px 15px;
    border: 1px solid hsla(0, 0%, 33%, .3);
}

th {
    background-color: #f2f2f28d;
    font-size: larger;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #333;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    background-color: #bbb;
    color: #333;
    font-weight: 700;
}

.open a {
    display: block;
}

.active::before {
    content: "📍";
    /* just a wayfinding symbol for the user */
}