@media only screen and (min-width: 37.5em) {

    #menu {
        display: none;
        /* hide hamburger button */
    }

    header h1 {
        text-shadow: 0 0 15px #292929;
        color: #8903037f;
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
    }

    .navigation {
        flex-direction: row;

        list-style: none;

        color: #fff;
    }


    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a:hover {
        background-color: #bbb;
        color: #201f1f6f;
        font-weight: 700;
    }

    .active::before {
        content: "📍";
        /* just a wayfinding symbol for the user */
    }

    .weather {
        align-items: center;
    }

      section.weather #temperature {
             font-size: 2rem;
             margin: .3rem 0;
         }
    
         .weather p #description {
             text-transform: capitalize;
             margin: .3rem 0;
         }
}