:root {
    --maxW: 20rem;
}

body,
main,
header {
    align-items: center;
}


h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
    max-width: 22rem;
}



form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;

}

form label.top,
form div {
    display: block;
    padding-top: 1.5rem;
    color: #9c2c13;
    font-size: .8rem;
}

form label.top input,
form label.top select {
    -webkit-appearence: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: var(--maxW);
    background-color: rgba(0, 0, 0, 0.1);
}


form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: var(--maxW);
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}


#feedback {
    color: red;
}

